*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    font-family: system-ui;
    color: #fff;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    
}
input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    background:#111 ;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
    

}
#total{
    background: rgb(200, 62, 62);
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rebeccapurple;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: rebeccapurple;
    letter-spacing: 1px;
}
.btnSreach{
    display: flex;
    justify-content: space-between;

}
.btnSreach button{
    width: 45%;
}
#deleteAll{
    margin: 20px 0;
}
table button:hover{
    transform: scale(1,1);
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}